mixin basket()
  .basket-page
    .container.basket-page__container
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/home')
        +breadcrumbs-item('Корзина')

      section(id="form-basket")
        h2 Корзина
        p Есть аккаунт?
          a.main-nav__link(href="/") Войти
        div(data-validate)
          form(method="post")
            +custom-input({inputLabel: "Адрес", inputError: "Не корректное адрес", inputName: "user-address", inputMinLength: "2", inputId: "address"})(data-validate-type="text")
            #map.basket-page__map
            +custom-input({inputLabel: "Ваше Имя", inputError: "Не корректное имя", inputName: "user-name", inputMinLength: "2"})(data-validate-type="text", data-limitations="name")
            +custom-input({inputType: "tel", inputLabel: "Ваш Телефон", inputError: "Не корректный телефон", inputName: "user-phone"})(data-validate-type="phone")
            +custom-input({inputType: "email", inputLabel: "Ваш Email", inputError: "Не корректный email", inputName: "user-email"})(data-validate-type="email")
            +custom-select({error: "Выбирете тип упаковки", optionsList: [{text: "Тип упаковки", value: "id-1", isActive: true}, {text: "без упаковки", value: "id-2"}, {text: "стандартная", value: "id-3"}, {text: "подарочная", value: "id-4"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select
            +custom-textarea({inputLabel: "Введите комментарий", inputName: "user-comment"})

      +card({
        imgPath: 'content',
        imgName: 'item',
        imgPostfix: 'jpg',
        name: 'Товар 1',
        descr: 'Описание товара, которое может быть длинным',
        price: 1090,
      })
      +card({
        imgPath: 'content',
        imgName: 'item',
        imgPostfix: 'jpg',
        name: 'Товар 2',
        descr: 'Описание товара, которое может быть очень-очень длинным',
        price: 700,
      })
      +card({
        imgPath: 'content',
        imgName: 'item',
        imgPostfix: 'jpg',
        name: 'Товар 3',
        descr: 'Короткое описание товара',
        price: 2000,
      })

