.breadcrumbs {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0;
  color: $color-default-black;

  @include vp-768() {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  a {
    color: $color-default-grey;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-default-black;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.6em;
    font-size: 18px;
    line-height: 1.1;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.8em;
      color: $color-default-grey;
    }
  }
}
