.card {
  &__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 505px;
  }

  &__img-wrap {
    flex-grow: 1;
    max-width: 160px;
    width: 100%;
    padding-right: 10px;
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
    max-width: calc(100% - 160px);
    width: 100%;
    min-height: 100%;
    padding-left: 10px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  }

  &__descr {
    margin: 0 0 20px;
    max-width: 180px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 1.2;
    color: $color-default-grey;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 100%;
    width: 100%;
    margin-top: auto;
  }

  &__title,
  &__price {
    flex-grow: 0.5;
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }

  &__title {
    margin-left: auto;
    padding-right: 10px;
  }

  &__price {
    margin-right: auto;
    text-align: right;
  }

  &__delete {
    margin: 0 0 0 auto;
  }
}
