.custom-select {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 45px;

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15px 0 5px;
    font-size: 16px;
    line-height: 1.2;
    color: $color-default-grey;
    border: 1px solid transparent;
    pointer-events: none;
    user-select: none;
    transform: none;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  }

  select {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 45px;
    padding: 15px 0 5px;
    font-size: 16px;
    line-height: 1.4;
    color: $color-default-black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-default-grey;
    border-radius: 0;
    outline: none;
    transition: border $trans-default;
  }

  &__list {
    position: absolute;
    bottom: 1px;
    z-index: 1;
    width: 100%;
    max-height: 130px;
    margin: 0;
    padding: 10px 0;
    overflow-y: auto;
    list-style: none;
    background-color: $color-default-white;
    border: 1px solid $color-default-grey;
    border-radius: 0 0 5px 5px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility $trans-default, opacity $trans-default;
  }

  &__item {
    padding: 8px 20px;
    line-height: 1.25;
    outline: none;
    cursor: pointer;
    transition: background-color $trans-default;

    &[aria-selected="true"] {
      background-color: rgba($color-default-white, 0.2);

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: rgba($color-default-white, 0.2);
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: rgba($color-default-white, 0.4);
      }
    }
  }

  &__error {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0 5px;
    font-size: 16px;
    line-height: 1.4;
    color: $color-torch-red;
    opacity: 0;
    transition: opacity $trans-default;
    transform: scale(0.75) translateY(-1.2rem);
    transform-origin: 0 0;
  }

  &__text {
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity $trans-default 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 9px;
    margin-right: 5px;
    margin-left: auto;
    background-color: $color-default-black;
    transition: transform $trans-default;
    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      transform: scale(0.75) translateY(-1.2rem);
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__button,
    .custom-select__button:focus,
    .custom-select__button:hover {
      border-color: $color-torch-red;
    }
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}
